## 1. Set/Change Current directory

In [3]:
import os
print(os.getcwd()) #Current working dir

C:\Users\User\Desktop\dspython

In [7]:
os.chdir("C:/Users/User/Desktop/dspython/") #chanage dir
print(os.getcwd())

C:\Users\User\Desktop\dspython

## 2.	Create the string, int and float variable and delete them all in the next cell

In [8]:
lista=['a',1,1.1]
print(lista)

['a', 1, 1.1]

In [10]:
del(lista)
print(lista)

NameError: name 'lista' is not defined

## 3.What’s the result of assigning a value to a ‘keyword’?

In [13]:
True = 0

SyntaxError: cannot assign to True (Temp/ipykernel_9472/3315852939.py, line 1)

## 4) Multiline statement and assign it to a variable without /

In [16]:
val = (1 + 
      2 + 
      3)
print(val)

6

## 5. Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [17]:
rangeno = list(range(100,999,8))
print(rangeno)

[100, 108, 116, 124, 132, 140, 148, 156, 164, 172, 180, 188, 196, 204, 212, 220, 228, 236, 244, 252, 260, 268, 276, 284, 292, 300, 308, 316, 324, 332, 340, 348, 356, 364, 372, 380, 388, 396, 404, 412, 420, 428, 436, 444, 452, 460, 468, 476, 484, 492, 500, 508, 516, 524, 532, 540, 548, 556, 564, 572, 580, 588, 596, 604, 612, 620, 628, 636, 644, 652, 660, 668, 676, 684, 692, 700, 708, 716, 724, 732, 740, 748, 756, 764, 772, 780, 788, 796, 804, 812, 820, 828, 836, 844, 852, 860, 868, 876, 884, 892, 900, 908, 916, 924, 932, 940, 948, 956, 964, 972, 980, 988, 996]

In [18]:
for i in range(100,999,8):
    print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [28]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i == len(list1)/2:
        break
    print (i)

1
2
3
4

## 7.	Write a simple function and call the docstring from outside the function

## 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
<< Formula to calculate semi-perimeter: s = (a+b+c )/2
<< Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >>
a.	15
b.	51
c.	17

## 9.	Write a list comprehension to print the odd numbers from 0 to 100

## 10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
a.	Ex: name = Imran
b.	Output = [‘m’, ‘r’, ‘n’]